<br>
<br>
<%= render("layouts/errors", :object => @message) %>

<%= form_for @message, remote: true do |f| %>
  <form class="form-horizontal" role="form">
    <div class="form-group">
    <%= f.label :to, "Send message to:" %><br>
    <%= f.collection_select :to, Contact.all, :number, :name %><br>
    </div>
    <div class="form-group">
    <%= f.label :from, "Message from:" %><br>
    <%= f.text_field :from %><br>
    </div>
    <div class="form-group">
    <%= f.label :body, "Your message" %><br>
    <%= f.text_field :body %><br>
    </div>
    <%= f.submit(:class => "btn btn-primary") %>
  </form>
<% end %>


