<% content_for(:title, "Contact Info | TextAway") %>

<h2><%= @contact.name %></h2>

<br>
<h4>Phone number</h4>
<h5>     <%= @contact.number %></h5>

<br>
<br>
<br>

<div class="bs-example">
  <%= link_to "New Contact", new_contact_path, class: "btn btn-warning", type: "button" %>
  <%= link_to "See Contacts", contacts_path, class: "btn btn-primary", type: "button" %>
  <%= link_to "Home", root_path, type: "button", class: "btn btn-success" %>
  <%= link_to "New Message", new_message_path, class: "btn btn-info", type: "button", id: "new_btn", remote: true %>
</div>
